	body {
		background-color: White;
		}

	h1 {
		font-size: 40px;
		color: violet;
		text-align: left;
		}

	#container {
		width: 720px;
   		margin-left: auto;
  		margin-right: auto;
		}
	#links {
		float:left;
		}
	
	p {
		font-size: 30px;
		color: gold;
		}

	a:link {
		color: limegreen;
		font-size: 30px;
		}

	a:hover {
		color: hotpink;
		font-size:30px;
		}

	a:visited {
		color: limegreen;
		}
	